@model IEnumerable<Moviebase.Entities.Movie>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <table>
        <tr>
            <th>
                Title
            </th>
            <th>
                Country
            </th>
            <th>
                Year
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Country
                </td>
                <td>
                    @item.Year
                </td>
            </tr>
        }
    </table>
    @using (Html.BeginForm("Filter", "Movies"))
    {
        <fieldset>
            <label>Year:</label>@Html.TextBox("filterByYear")<br />
            <label>Country:</label>@Html.TextBox("filterByCountry")<br />
            <input type="submit" value="Go!" />
        </fieldset>
    }
</body>
</html>
